.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 .cell {
     background: white;
     border-radius: 100px;
     border: 1px solid black;
     display: inline-block;
     padding: 20px;
     font-family: monospace;
     cursor: crosshair;
 }
.cell.p1 {
    background-color: black;
    color:white;
}

.cell.p2 {
    background-color: red;
    color: black;
}
#back {
    background-color: yellow;
    height: 300px;
    width: 300px;
}
